$whiteColor: #ffffff;
$darkColor: #144969;

header {
  background-color: $darkColor;

  nav {
    padding: 15px 0;
    a {
      text-decoration: none;
      color: $whiteColor;
      font-size: 26px;

      span {
        font-weight: bold;
      }
    }

    ul {
      margin: 0;
    }
  }
}
