<div class="top-space"></div>
<div class="form-div container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="name">Name: <span>*</span></label>
      <input id="name" type="text" placeholder="Name" formControlName="name" />
      <div *ngIf="name?.invalid && name?.touched" class="errors-alert">
        <p *ngIf="name?.errors?.required">Name is required.</p>
        <p *ngIf="name?.errors?.minlength">
          Name should have at list 4 characters.
        </p>
        <p *ngIf="name?.errors?.maxlength">
          Name should not have more than 15 characters.
        </p>
        <p *ngIf="name?.errors?.capitalLetter">
          Name should start with a capital letter.
        </p>
      </div>
    </div>
    <div>
      <label for="last-name">Last name: <span>*</span></label>
      <input
        id="last-name"
        type="text"
        placeholder="Last name"
        formControlName="lastName"
      />
      <div *ngIf="lastName?.invalid && lastName?.touched" class="errors-alert">
        <p *ngIf="lastName?.errors?.required">Last name is required.</p>
        <p *ngIf="lastName?.errors?.minlength">
          Last name should have at list 4 characters.
        </p>
        <p *ngIf="lastName?.errors?.maxlength">
          Last name should not have more than 15 characters.
        </p>
        <p *ngIf="lastName?.errors?.capitalLetter">
          Last name should start with a capital letter.
        </p>
      </div>
    </div>
    <div>
      <label for="email">Email: <span>*</span></label>
      <input
        id="email"
        type="text"
        placeholder="Email"
        formControlName="email"
      />
      <div *ngIf="email?.invalid && email?.touched" class="errors-alert">
        <p *ngIf="email?.errors?.required">Email is required.</p>
      </div>
    </div>
    <div>
      <label for="password">Password: <span>*</span></label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <div *ngIf="password?.invalid && password?.touched" class="errors-alert">
        <p *ngIf="password?.errors?.required">Password is required.</p>
      </div>
    </div>
    <div>
      <label for="confirm-password">Confirm password: <span>*</span></label>
      <input
        id="confirm-password"
        type="password"
        placeholder="Confirm password"
        formControlName="passwordConfirmation"
      />
      <div
        *ngIf="passwordConfirmation?.invalid && passwordConfirmation?.touched"
        class="errors-alert"
      >
        <p *ngIf="passwordConfirmation?.errors?.required">
          Password confirmation is required.
        </p>
        <p *ngIf="passwordConfirmation?.errors?.mustMatch">
          Passwords have to match.
        </p>
      </div>
    </div>
    <div>
      <label for="date-of-birth">Date of birth: <span>*</span></label>
      <input
        id="date-of-birth"
        type="date"
        placeholder="Date of birth"
        formControlName="dateOfBirth"
      />
      <div
        *ngIf="dateOfBirth?.invalid && dateOfBirth?.touched"
        class="errors-alert"
      >
        <p *ngIf="dateOfBirth?.errors?.required">
          You must enter a date of birth.
        </p>
        <p *ngIf="dateOfBirth?.errors?.minDate && dateOfBirth?.dirty">
          Date must be less than the current one.
        </p>
      </div>
    </div>
    <div>
      <label for="telephone-number">Telephone number: <span>*</span></label>
      <input
        id="telephone-number"
        type="text"
        placeholder="Telephone number"
        formControlName="telephone"
      />
      <div
        *ngIf="telephone?.invalid && telephone?.touched"
        class="errors-alert"
      >
        <p *ngIf="telephone?.errors?.required">Telephone number is required.</p>
        <p *ngIf="telephone?.errors?.numbersOnly">
          Telephone must have only numeric characters.
        </p>
      </div>
    </div>
    <div>
      <label for="personal-site">Personal site URL: </label>
      <input
        id="personal-site"
        type="url"
        placeholder="Personal site URL"
        formControlName="personalSite"
      />
      <div
        *ngIf="personalSite?.invalid && personalSite?.touched"
        class="errors-alert"
      >
        <p *ngIf="personalSite?.errors?.urlType">
          Personal site must be of the url type.
        </p>
      </div>
    </div>
    <div>
      <label for="about-me">About me: </label>
      <textarea
        name="about-me"
        id="about-me"
        placeholder="About me..."
      ></textarea>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="genre"
          value="male"
          formControlName="genre"
        />Male
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="genre"
          value="female"
          formControlName="genre"
        />Female
      </label>
    </div>
    <div formGroupName="address">
      <div>
        <label for="country">Select a country: <span>*</span></label>
        <select
          id="country"
          (change)="filterStates()"
          formControlName="country"
        >
          <option
            *ngFor="let country of countriesList.countries"
            [value]="country.id"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
      <div *ngIf="country?.value">
        <label for="state">Select a state: <span>*</span></label>
        <select id="state" formControlName="state">
          <option *ngFor="let state of filteredStates" [value]="state.name">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="terms" formControlName="terms" />Agree
        terms and conditions <span>*</span>
      </label>
      <div *ngIf="terms?.invalid && terms?.touched" class="errors-alert">
        <p *ngIf="terms?.errors?.required">
          You must accept terms and conditions.
        </p>
      </div>
    </div>
    <button [disabled]="form.invalid">Accept</button>
  </form>
</div>
